body{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

main{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 70dvh;
}

.container{
    margin-bottom: 0.6125rem;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
    border-bottom: 1px solid rgb(214, 214, 214);
}

li div{
    flex-grow: 1;
    margin-right: auto;
    padding: 0.325rem;
}

li button{
    margin: 0.325rem;
}

.dialog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.dialog-header h4, .dialog-header .container{
    margin: 0;
    padding: 0 !important;
}

.task-form{
    display: flex;
    flex-direction: column;
}

.task-form input{
    display: block;
    padding: 0.325rem;
    margin: 0.325rem 0;
}

.task-form button{
    padding: 0.325rem;
}